<script setup>
import HelloWorld from "@/components/HelloWorld.vue";
</script>

<template>
  <main>
    <nav class="nav">
        <div class="nav-item">
          <RouterLink to="/test-name/panha">Route with name|</RouterLink>
          <RouterLink to="/test-id/5">Router with id | </RouterLink>
        </div>
        <div>
          <RouterLink to="/unit-type">Unit Type</RouterLink>
        </div>
      </nav>
<!--    <HelloWorld msg="Welcome Vue JS"/>-->
  </main>
</template>
