<script>

import {ref} from "vue";
import {defineComponent} from "vue";

export default defineComponent({
  name: "Test2",
  props: ["prop1","prop2"],
  data() {
    let any;
    return {
      logic1: "",
      logic2: 0,
      logic3: false,
      name: "",
      id: any,
      firstName: 'Lay',
      lastName: 'Panha',
      list: [],
    }
  },
  mounted() {
    this.name = this.$route.params.name;
    this.id = this.$route.params.id;
    this.logic1 = "Hello World!";
    this.list =  ref([
      {id:2, name:"b"},
      {id:3, name:"c"},
      {id:4, name:"d"},
      {id:5, name:"e"},
    ])
  },
  watch:{
    logic2(a,b){
      this.logic3 = !this.logic3;
    }
  },
  methods: {
    change(){
      this.logic1 = "Hello!";
    },
    incrementValue(){
      this.logic2++;
    },
    decrementValue(){
      this.logic2--;
    },
    addData(){
      this.list.push(
          {id:0, name: "something"}
      );
    }

  },
  computed:{
    logic4(){
      return `${this.prop1} is prop1 value`;
    },
    fullName: {
      get(){
        return this.firstName + ' '+ this.lastName;
      },
      set(newValue) {
        [this.firstName, this.lastName] = newValue.split(' ')
      }
    }
  }
});

</script>

<template>
<div class="card">
  <div class="card-header">
    <RouterLink to="/">Home</RouterLink>
  </div>
  <div class="card-body">
    <div class="row mt-4">
      <div class="col-lg-12 text-start">
        <h1>Options API</h1>
        <h2> getByParameterName: {{name}}</h2>
        <h2> getByParameterId: {{id}}</h2>
        <br>
        <h2> Logic1: {{logic1}}</h2>
        <br>
        <h2>Logic2: {{logic2}}</h2><span><button type="button" @click="incrementValue()">+</button><button type="button" @click="decrementValue()">-</button></span>
        <br>
        <h2> Logic3: {{logic3}}</h2>
        <br>
        <h2> prop1: {{prop1}}</h2>
        <br>
        <h2> prop2: {{prop2}}</h2>
        <br>
        <h2> Logic4: {{fullName}}</h2>
        <br>
        <div >ChangClass</div><span>
  <button type="button" >Change</button></span>
        <button type="button" @click="addData()">Add</button>
      </div>
      <hr class="mt-2 fw-bold">
      <table border="1" class="table table-bordered table-hover mt-2">
        <tr>
          <th>Id</th>
          <th>Name</th>
        </tr>
        <tr>
          <td>1</td>
          <td>a</td>
        </tr>
        <tr v-for="item in list">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
</template>

<style scoped>
.a{
  font-size: 20px;
  color: blue;
}
.b{
  font-size: 20px;
  color: red;
}
</style>