<script>
import {defineComponent, ref} from 'vue'
import {useHome} from "@/store/Home";

export default defineComponent({
  name: "UnitTypeView",
  data(){
    return {
      list: [],
      unitTypeById: ref([])
    }

  },
 async mounted() {
    const home = useHome();
    await home.getUnitType()
    this.list = await home.listUnitType;
    await home.getUnitTypeById(2);
    this.unitTypeById.value = home.unitType;
   console.log(this.unitTypeById)
  }
})
</script>

<template>
  <div class="card mt-4">
    <RouterLink to="/">Home</RouterLink>
    <div class="card-body">
      <div class="row d-flex">
        <div class="col-lg-12 justify-content-center">
          <table class="table table-bordered table-hover">
            <tr class="text-bg-primary">
              <th>Id</th>
              <th>Name</th>
            </tr>
            <tr v-for="item in list">
              <td>{{item.id}}</td>
              <td>{{item.name}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>


</template>

<style scoped>

</style>